---
import Layout from "@/layouts/fullPageBoxGenerated.astro";
const frontmatter = {
  title: "User-made Resources",
};
---

<Layout frontmatter={frontmatter}>

  <ul>
    <li><a href="https://docs.google.com/spreadsheets/d/1yf47G3E3BYSiWvWH5bD7ZWq1K1-ySP766eHpFuvJwpc/edit?usp=sharing">evicuo's Jobs EXP Spreadsheet</a></li>
    <li><a href="https://www.pythonanywhere.com/gists/2c0915f71ab5a67ad03ce90136d2710a/BlossomCraft%20Jobs%20Calculator/ipython/">evicuo's Jobs Progress Calculator</a></li>
    <li><a href="https://minecraftcircle.pages.dev/">ZoZoCaylus's Circle Generator</a></li>
    <li><a href="https://docs.google.com/document/d/10_JlgOWGl-p-hZ1blvgg1395hzygosIO1pV8w0CrgJw/edit?usp=sharing">Shyvalue's Unofficial Mod List</a></li>
  </ul>

  <h2>Do you have a resource?</h2>
  <p>If you have a user-made resource that you would like on here, please go to <a href="/contributing#add-a-resource">this page</a> for more information.</p>
</Layout>
