---
import Layout from "@/layouts/fullPageBox.astro";
import { Button } from "@components/ui/button";
---

<Layout>
	<main class=" container mx-auto max-w-screen-lg prose">
		<h1>You've found the foreign IP page!</h1>
    <p>If you are here, you tried to access community.bcuw.xyz from a non-US IP or we didn't get an IP from your request. Due to laws being complicated we have opted to temporarily block all non-US IPs from accessing the site. We plan to get the site up in non US countries soon. Sorry for the inconvenience!</p>
    <p>We do not store any IPs or any other personal information not directly given to us, and will never store any information from this site. If you believe this is a mistake, please DM Altie122 on Discord.</p>
    <br/>
    <Button variant="ghost" asChild><a href="/">Visit BCUW!</a></Button>
	</main>
</Layout>