---
import ProgressBar from '@components/progressbar'
import Layout from './main.astro'
---
<Layout>
	<div class="w-full px-2 md:pl-0 pb-2 h-[calc(100svh-4rem)] lg:h-[calc(100%-1rem)]">
		<div class='flex flex-row bg-sidebar text-sidebar-foreground rounded-lg border border-sidebar-border shadow h-full overflow-y-scroll main-scroll'>
			<slot />
		</div>
	</div>
</Layout>
